{
  "presets": ["babel-preset-expo"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "react-native-jumbo-html": "../src"
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
